<div class="content-block" id="portfolio">
  <div class="container">
    <header class="block-heading cleafix">
      <div class="title-page">
        <p class="main-header">Scholarship </p>
          <p class="sub-header">奨学金</p>
        </div>
    </header>
    <%= render 'newform' %>
  </div>
</div>