<div class="content-block" id="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 blog-post">
          <h2 class="footer-block">About Contact</h2>
          <div>
            現在、ご利用くださる皆様のフィードバックを元に改善を進めています。 <br>
            どんなささいなことでも結構ですので、ご意見、ご質問いただけると幸いです。 <br>
          </div>
<!--                <form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
            <div class="form-group">
                <input type="text" class="form-control form-control-white" id="name" name="name" placeholder="お名前" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-white" id="email" name="email" placeholder="メールアドレス" required>
              </div>
              <div class="form-group">
                <textarea class="form-control form-control-white" id="message" name="massage" placeholder="お問い合わせ内容" required></textarea>
              </div>
              <div id="contactFormResponse"></div>
              <div class="form-group">
                <input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="送信する">
              </div>
          </form> -->
        </div>
        <div class="col-sm-6 blog-post">
          
          <h2 class="footer-block">Contact Details</h2>
          <ul>
            <li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address</li>
              <p>
                <a href="mailto:malna.inc.info@gmail.com">malna.inc.info@gmail.com</a>
              </p>


          </ul>
<!--           <div class="social">
            <a href="https://twitter.com/Ksk_Szk8424"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/brave.ksk"><i class="fa fa-facebook"></i></a>
          </div> -->
          
        </div>
      </div>
  </div>
</div>
<div class="content-block footer-bottom" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">&copy; Copyright Malna.inc 2018</div>
    </div>
  </div>
</div><!-- #footer -->