<header class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-5 col-sm-4 header-logo">
        <br>
        <%= link_to(root_path) do %>
          <h1 class="logo">奨学金Navi</h1>
        <% end %>
      </div>

      <div class="col-md-8 col-md-offset-1 col-xs-7">
        <nav class="navbar navbar-default">
            <div class="container-fluid nav-bar">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse navbar-def" id="top-nav">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <%= link_to(root_path) do %>
                    <div style="color:#6a6a6a;">
                      <i class="fa fa-home"></i> Home
                    </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(issue_index_path) do %>
                    <div style="color:#6a6a6a;">
                      <i class="fa fa-bookmark"></i> 奨学金
                    </div>
                    <% end %>
                  </li>
                </ul>
              </div>
        </nav>
      </div>
    </div>
  </div>
</header>